body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    font-size: 1.125rem;
    background-color: hsl(226, 43%, 10%);
}
.container {
  display: grid;
  grid-template-areas:
    "user work play study"
    "user exercise social selfCare";

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    width: 58.125vw;
    height: 57.08vh;
    gap: 32px;
}

.user-panel{
    grid-area: user;
    width: min(255px, 13.28vw);
    height: min(520px, 57.08vh);
    display: flex;
    flex-direction: column;
}

.user-content{
  width: min(255px, 13.28vw);
  background-color: hsl(246, 80%, 60%);
  border-radius: 15px;
  color: white;
  z-index: 1;
  position: relative;
  height: 100%;
  width: 100%;
    
}

.user-panel .user-profile{
    color: white;
    border-radius: 15px;
    padding: 32px;
}

.user-profile img{
    width: min(78px, 4.06vw);
    height: 100%;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 2.5rem;
    
}

.user-profile #profile-title{
    font-size: 0.93rem;
    color: hsl(236, 100%, 87%)
}

.user-profile #name-profile{
    font-size: 2.5rem;
    font-weight: 100;
}

.options {
  margin-top: -10px; /* sobrepõe um pouco */
  background-color: hsl(235, 46%, 20%);
  width: min(255px, 13.28vw);
  height: 40%;
  border-radius: 0 0 15px 15px;
  padding: 1.5rem;
  color: rgb(112, 120, 201);
  font-size: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
  z-index: 0;
}

.options #daily{
    padding-top: 0.8rem;
}

.work{
    grid-area: work;
    width: min(255px, 13.28vw);
    height: min(244px, 26.78vh);
    display: flex;
    align-items: flex-end;
    background-image: url("../images/icon-work.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-position: right 1rem top -10px;
    background-color: hsl(15, 100%, 70%);
    border-radius: 17px;
}

.work-content{
    width: 100%;
    height: 82%;
    background-color: hsl(235, 46%, 20%);
    color: white;
    border-radius: 15px;
    overflow: hidden;
    padding: 32px;

}

.work-content #work-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.63vh;
}

.work-content #work-title img{
    width: min(21px, 1.09vw);
    height: min(5px, 0.54vh);
}

.work #work-hour{
    margin-bottom: 0.87vh;
    font-size: 3.5rem;
    font-weight: 100;
}

.work #work-last-hour{
    font-size: 0.93rem;
    color: hsl(236, 100%, 87%);
}

.play{
    grid-area: play;
    display: flex;
    align-items: flex-end;
    background-image: url(../images/icon-play.svg);
    background-repeat: no-repeat;
    background-position: right 1rem top -10px;
    background-color: hsl(195, 74%, 62%);
    border-radius: 17px;
}

.play .play-content{
    width: 100%;
    height: 82%;
    background-color: hsl(235, 46%, 20%);
    color: white;
    padding: 32px;
    border-radius: 15px;
}

.play-content #play-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.63vh;
}

.play-content #play-title img{
        width: min(21px, 1.09vw);
        height: min(5px, 0.54vh);
}

.play #play-hour{
    margin-bottom: 0.87vh;
    font-size: 3.5rem;
    font-weight: 100;
}

.play #play-last-hour{
    font-size: 0.93rem;
    color: hsl(236, 100%, 87%);
}

.study{
    grid-area: study;
    background-color: bisque;
    display: flex;
    align-items: flex-end;
    background-image: url("../images/icon-study.svg");
    background-repeat: no-repeat;
    background-position: right 1rem top -10px;
    background-color: hsl(348, 100%, 68%);
    border-radius: 16px;
}

.study .study-content{
    height: 82%;
    width: 100%;
    border-radius: 15px;
    color: white;
    background-color: hsl(235, 46%, 20%);
    padding: 32px;
}

.study-content #study-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.63vh;
}

.study-content #study-title img{
        width: min(21px, 1.09vw);
        height: min(5px, 0.54vh);
}

.study #study-hour{
    margin-bottom: 0.87vh;
    font-size: 3.5rem;
    font-weight: 100;
}

.study #study-last-hour{
    font-size: 0.93rem;
    color: hsl(236, 100%, 87%);
}



.exercise{
    grid-area: exercise;
    background-color: hsl(145, 58%, 55%);
    border-radius: 17px;
    display: flex;
    align-items: flex-end;
    background-image: url("../images/icon-exercise.svg");
    background-repeat: no-repeat;
    background-position: right 1rem top -10px;
    
}

.exercise .exercise-content{
    width: 100%;
    height: 82%;
    background-color: hsl(235, 46%, 20%);
    border-radius: 15px;
    color: white;
    overflow: hidden;
    padding: 32px;
}

.exercise-content #exercise-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.63vh;
}

.exercise-content #exercise-title img{
        width: min(21px, 1.09vw);
        height: min(5px, 0.54vh);
}

.exercise #exercise-hour{
    margin-bottom: 0.87vh;
    font-size: 3.5rem;
    font-weight: 100;
}

.exercise #exercise-last-hour{
    font-size: 0.93rem;
    color: hsl(236, 100%, 87%);
}


.social{
    grid-area: social;
    background-color: hsl(264, 64%, 52%);
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
    background-image: url("../images/icon-social.svg");
    background-repeat: no-repeat;
    background-position: right 1rem top -10px;

}
.social .social-content{
    background-color: hsl(235, 46%, 20%);
    width: 100%;
    height: 82%;
    border-radius: 15px;
    color: white;
    padding: 32px;

}

.social-content #social-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.63vh;
}

.social-content #social-title img{
        width: min(21px, 1.09vw);
        height: min(5px, 0.54vh);
}

.social #social-hour{
    margin-bottom: 0.87vh;
    font-size: 3.5rem;
    font-weight: 100;
}

.social #social-last-hour{
    font-size: 0.93rem;
    color: hsl(236, 100%, 87%);
}


.selfCare{
    grid-area: selfCare;
    background-color: hsl(43, 84%, 65%);
    border-radius: 17px;
    display: flex;
    background-image: url("../images/icon-self-care.svg");
    background-repeat: no-repeat;
    background-position: right 1rem top -10px;
    align-items: flex-end;
    
    
}

.selfCare .selfCare-content{
    width: 100%;
    height: 82%;
    background-color: hsl(235, 46%, 20%);
    color: white;
    border-radius: 15px 15px 0px 0px;
    padding: 32px;
    overflow: hidden;
    border-radius: 15px;
}

.selfCare-content #selfCare-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.63vh;
}

.selfCare-content #selfCare-title img{
        width: min(21px, 1.09vw);
        height: min(5px, 0.54vh);
}

.selfCare #selfCare-hour{
    margin-bottom: 0.87vh;
    font-size: 3.5rem;
    font-weight: 100;
}

.selfCare #selfCare-last-hour{
    font-size: 0.93rem;
    color: hsl(236, 100%, 87%);
}

.attribution{
    margin-top: 50px;
    font-size: 0.7rem;
    color: white;
}

.attribution a{
    color: green;
}